<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738054955670-d6spsh2ciqt2189sfb6lettge908m16q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738054955670-d6spsh2ciqt2189sfb6lettge908m16q</string>
	<key>API_KEY</key>
	<string>AIzaSyBwbOzhWjUlGTnyBSY3sv1JH6lBwf9R45g</string>
	<key>GCM_SENDER_ID</key>
	<string>738054955670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BlueArrow.PlannerApp</string>
	<key>PROJECT_ID</key>
	<string>planningapp-d4bb4</string>
	<key>STORAGE_BUCKET</key>
	<string>planningapp-d4bb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738054955670:ios:8e76ea2280d137177318b7</string>
</dict>
</plist>